.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    color: #fff;
    background: linear-gradient(#090040, #130e1f, #001c24);
    padding-bottom: 20px;
    width: 600px;
    margin-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color:#f2a541;
    font-size: 48px;
    font-weight: 400;
}
.under{
    width: 61px;
    height: 6px;
    background: #f2a541;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;

}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}
.forgot{
    padding-left: 62px;
    margin-top: 27px;
    color: #bebdbd;
    font-size: 15 px;
}
.forgot span{
    color: #4c00b4;
    cursor: pointer;
}
.onsubmit{
  display: flex;
  gap: 30px;
  margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #fff;
    background: #f2a541;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}
.gray{
    background-color: #EAEAEA;
    color: #676767;
}